body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #34495e;
    margin: 0;
    background:#6A4E5A;
}
a {
    text-decoration: none;
    color: #34495e;
}
h1,h2,h3,h4,strong {
    font-weight: 600;
    color: #E8EC9D;
    cursor:default;
}
#nav {
    list-style-type: none;
    text-align: center;
    margin-top:10em;
    margin-bottom: 3em;
    padding: 0;
}
#nav li {
    display: inline-block;
}
#nav .nav {
    color: #D0EFE7;
    margin: 0 1.5em;
    font-size:20px;
}
.nav:first-child {
    margin-left: 0;
}
.nav:hover,
.nav.current {
    border-bottom: 1px solid #D0EFE7;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
#logo {
    display: block;
    margin: 0 auto;
    width: 200px;
}
#content {
    text-align: center;
    height: 100%;
    min-height: 800px;
    position: relative;
}
#content h1 {
    font-size: 3em;
    margin: 0.5em 0 0;
}
#content .desc {
    max-width: 800px;
    padding: 0 20px;
    text-align: center;
    margin: 1.5em auto;
    color: #F4C34A;
    font-size:20px;
    cursor:default;
}
#content .button {
    display: inline-block;
    font-size: 1.25em;
    color: #D0EFE7;
    font-weight: 400 !important;
    background-color: #F84545;
    padding: 0.5em 1.5em;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    border-bottom: 1px solid #703535;
    transition: all 0.2s ease-out;
    width: 180px;
    margin: 3em 1em;
}
#content .button:hover {
    color:#333;
    background-color: #E8EC9D;
}
#header{
    padding-left:50px;
}
#feature {
    padding: 4em 0;
    background-color: #F4C34A;
    color: #fff;
    cursor:default;
}
#feature h2 {
    margin-top: 0;
    color: #5e5e5e;
    font-size: 1.5em;
    text-align: center;
}
#feature ul {
    line-height: 1.8em;
    font-size: 1.15em;
    width: 320px;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    color:#5e5e5e;
}
#feature ul li:before {
    content: "✓";
    font-weight: bold;
    margin-right: 0.75em;
    font-size: 1.2em;
}
#about {
    text-align: center;
    color: #fff;
    padding: 4em 0;
    background-color: #474C4D;
}
#about .avatar {
    width: 100px;
    border-radius: 100%;
    margin: 2.5em 0 1em;
}
#about a {
    color: #fff;
    text-decoration: underline;
}
#about a.start {
    font-size: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid #fff;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 4px;
    transition: all 0.15s ease;
    margin-bottom: 2em;
}
#about a.start:hover {
    background-color: #fff;
    color: #7f8c8d;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}
#about p {
    margin: 0.3em 0;
}
@media screen and (max-width: 420px) {
    body {
        font-size: 14px;
    }
    #app{
        display:none;
    }
    #nav {
        margin: 2em 0;
    }
    #nav .nav {
        font-size:12px;
    }
    #logo {
        width: 100px;
    }
    .nav {
        font-size: 0.85em;
        margin: 0 0.5em;
    }
    #content {
        min-height: 560px;
    }
    #content .inner {
        height: 600px;
        margin-top: -300px;
    }
    #content h1 {
        font-size: 2em;
    }
    #content a.button {
        font-size: 1em;
        margin: 0.5em 0;
    }
    #content,#content .desc {
        font-size: 0.9em;
        margin: 1em 0;
    }
    #content .warning br,
    #content .desc br {
        display: none;
    }
    #content .down {
        display: none;
    }
    #feature ul {
        width: 250px;
        font-size: 1.1em;
    }
    #feature h2 {
        font-size: 1.35em;
    }
}
button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    outline:none;
    vertical-align: baseline;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
#app {
    border: 1px solid #ccc;
    position: relative;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    min-width:300px;
    color: #D0EFE7;
    margin: 0 auto;
    line-height: 1.4em;
    text-align:left;
    position:fixed;
    right:10px;
    top:140px;
    cursor: move;
}
#app input::-webkit-input-placeholder {
    font-style: italic;
}
#app input:-moz-placeholder {
    font-style: italic;
    color: #a9a9a9;
}
#app h1 {
    position: absolute;
    top: -120px;
    width: 100%;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    color: #b3b3b3;
    color: rgba(255, 255, 255, 0.3);
    text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}
#new-todo,.edit {
    position: relative;
    line-height: 1.4em;
    border: 1px solid #999;
    color: #eeeeee;
    background-color: transparent;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    padding:10px 0px;
    width:200px;
    outline:none;
}
#new-todo {
    padding:16px 0px;
    z-index: 2;
    box-shadow: none;
    color:#E8EC9D;
    font-size:14px;
    border:none;
}

#toggle-all {
    position: absolute;
    top: 6px;
    left: 15px;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    font-size: 34px;
    cursor: pointer;
}

#toggle-all:before {
    content: '»';
    color: #d9d9d9;
    padding: 0px;
}

#toggle-all:checked:before {
    color: #737373;
}

#todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
    border-top: 1px dotted #eee;
}

#todo-list li {
    font-weight:bold;
    position: relative;
    border-bottom: 1px dotted #ccc;
}

#todo-list li:last-child {
    border-bottom: none;
}

#todo-list li.editing {
    /*border-bottom: none;*/
    padding: 0;
}

#todo-list li.editing .edit {
    display: block;
    font-weight:bold;
    width: 200px;
    padding: 13px 17px 12px 17px;
    margin: 0 0 0 43px;
}

#todo-list li.editing .view {
    display: none;
}

#todo-list li .toggle {
    text-align: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

#todo-list li .toggle:after {
    content: '✔';
    line-height: 43px;
    color: #d9d9d9;
    text-shadow: 0 -1px 0 #bfbfbf;
}

#todo-list li .toggle:checked:after {
    color: #85ada7;
    text-shadow: 0 1px 0 #669991;
    bottom: 1px;
    position: relative;
}

#todo-list li label {
    word-break: break-word;
    margin: 10px 0px 10px 50px;
    display: inline-block;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    -ms-transition: color 0.4s;
    -o-transition: color 0.4s;
    transition: color 0.4s;
}

#todo-list li.completed label {
    color: #a9a9a9;
    text-decoration: line-through;
}

#todo-list li .destroy {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    color: #F4C34A;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

#todo-list li .destroy:hover {
    text-shadow: 0 0 1px #000,
    0 0 10px rgba(199, 107, 107, 0.8);
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}

#todo-list li .destroy:after {
    content: '✖';
}

#todo-list li:hover .destroy {
    display: block;
}

#todo-list li .edit {
    display: none;
    margin-bottom: -1px;
}
#footer {
    color: #777;
    padding: 0 15px;
    position: absolute;
    right: 0;
    top: -31px;
    left: 0;
    z-index: 1;
    text-align: center;
}
#footer:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 31px;
    left: 0;
    height: 100px;
    z-index: -1;
}
#todo-count {
    float: left;
    text-align: left;
}
#filters {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 0;
    left: 0;
}
#filters li {
    display: inline;
}
#filters li a {
    color: #83756f;
    margin: 2px;
    text-decoration: none;
}
#filters li a.selected {
    font-weight: bold;
    color:red;
}
#clear-completed {
    float: right;
    line-height: 20px;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
    font-size: 11px;
    padding: 0 10px;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2);
    cursor:pointer;
}
#clear-completed:hover {
    background: rgba(0, 0, 0, 0.15);
    box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}
